SCSS SYNTAX
$font-stack:    Helvetica, sans-serif;
$primary-color: #333;

.prosloika {
    
    display: flex;
    justify-content: space-around;
    border: 3px solid #F0F0F5;
    border-left: none;
    border-right: none;
    margin: 0px 75px ;
      @media (max-width: 1000px) {    
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            margin-right: 0;
    }
        .cifry {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 15px;
        font-size: 20px;
        @media (max-width: 1000px) {
                width: 50%;
                margin: 0;
        }
        p {
            color: $primary-color;
            margin-top: -20px;
            font-size: 1.5rem;
        }
    } 
}
